@import './public.scss';

.header{
  .h-l{
    float: left;
    display: block;
    width: 184px;
    height: 129px;
    background: url(https://s1.c.meishij.net/n/images/logo2.png) -15px 9px no-repeat;
  }
  .h-c{
    float: left;
    margin-left: 68px;
    overflow: hidden;
    margin-top: 46px;

    .search1{
      display: block;
      float: left;
      height: 36px;
      width: 346px;
      padding: 0 8px;
      color: #000;
      border: 2px solid #fff;
      border-top-left-radius: 4px;
      border-bottom-left-radius: 4px;
      font:12px/36px "";
    }
    
    .search2{
      display: block;
      float: left;
      height: 36px;
      width: 80px;
      line-height: 32px;
      border: 2px solid #fff;
      border-left: 0px;
      color: #fff;
      background: #a8000f;
      font-size: 14px;
      border-top-right-radius: 4px;
      border-bottom-right-radius: 4px;
    }
  }

  .h-r{
    float: right;
    overflow: hidden;
    margin-top: 50px;

    a{
      display: block;
      float: left;
      height: 28px;
      float: right;
      margin-right: 0px;
      color: #fff;
      font: 12px/28px "微软雅黑";
      padding: 0px 10px;
      border-radius: 4px;
    }
    
    .b1:hover{
      background: rgba(0,0,0,0.3);
    }
    
    .qq{
      padding-left: 34px;
      background: url(https://s1.c.meishij.net/n/images/topdsflogin_icon.gif) 3px 0px no-repeat;
    }
    .qq:hover{
      background: rgba(0,0,0,0.3) url(https://s1.c.meishij.net/n/images/topdsflogin_icon.gif) 3px 0 no-repeat;
    }

    .wb{
      padding-left: 34px;
      background: url(https://s1.c.meishij.net/n/images/topdsflogin_icon.gif) 3px -28px no-repeat;
    }
    .wb:hover{
      background: rgba(0,0,0,0.3) url(https://s1.c.meishij.net/n/images/topdsflogin_icon.gif) 3px -28px no-repeat;
    }
  }
}

.nav{
  ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 76px;

    li{  
      .a1{
        display: block;
        height: 76px;
        font:700 18px/76px "";
        color:#444;
        position: relative;
        padding: 0px 24px;

        img{
          display: block;
          width: 24px;
          height: 23px;
          position: absolute;
          right: -16px;
          top: 8px;
        }
      }
    }

    .te1{
      background: url(https://s1.c.meishij.net/n/images/msj_menuarrow.gif) right center no-repeat;
    }

    .te1:hover{
      background: #fafafa;
    }

    // 导航“菜谱大全”的二级菜单
    .te2{
      position: relative;
      
      .dw{
        .dww{
          width:930px;
          margin:0px auto;
          background:#fafafa;
          position:relative;
          box-shadow:3px 3px 5px rgba(0,0,0,0.1);
          padding:18px 30px 24px;

          .dwitem{
            display:inline-block;
            vertical-align:top;
            *zoom:1;
            *display:inline;
            overflow:hidden;
            white-space:nowrap;
            padding:0px 10px 12px 0px;
            
            dl{
              dt{
                display:block;
                height:24px;
                line-height:24px;

                a{
                  color:#ff3232;
                  font-size:17px;
                  font-family:Microsoft Yahei,黑体;
                  font-weight: 100;
                }
              }

              dd{
                display:inline-block;
                vertical-align:top;
                height:24px;
                line-height:24px;
                padding: 0;
                padding-right:14px;

                a{
                  color:#999;
                  font-size:12px;
                  font-weight: 100;
                }
              }
              a:hover{background:#ff3232;color:#fff;}
            }
          }
          .dwitem_half{
            width:330px;
          }
        }

        .dww_cpdq{
          .bgitem{
            background:url(https://s1.c.meishij.net/n/images/jccp_navbgg.png) right bottom no-repeat;
            position:absolute;
            right:-60px;
            bottom:-30px;
            height:226px;
            width:406px;
          }
        } 

        .dww_ysjk{
          .bgitem{
            background:url(https://s1.c.meishij.net/n/images/ysjk_navbg.png) right bottom no-repeat;
            position:absolute;
            right:-60px;
            bottom:-30px;
            height:208px;
            width:325px;
          }
        }
      }
      .te5{
        position: absolute;
        top: 76px;
        left: -99px;
        width:100%;
        display: none;
      }
      .te6{
        position: absolute;
        top: 76px;
        left: -226px;
        width:100%;
        display: none;
      }
    }
    .te3:hover .dw{
      display: block;
      z-index: 1;
    }
    .te4:hover .dw{
      display: block;
      z-index: 1;
    }
  }
}

.content{
  // 轮播图
  .lbt {
    background: #fae8c8;
    overflow: hidden;
    margin-top: 5px;
    
    .swiper-container {
      .swiper-wrapper {
        .swiper-slide {
          h3 {
            height: 120px;
            line-height: 120px;
            font-size: 24px;
            color: #222;
            text-align: center;
            font-family: Microsoft Yahei;
            position: relative;
            display: block;
            font-weight: 400;
            width: 990px;
          } 

          .img{
            height: 330px;
            width: auto;
          
            li{
              display: block;
              float: left;
              position: relative;

              img{
                width: 330px;
                height: 330px;
              }

              div {
                position: absolute;
                height: 78px;
                width: 330px;
                background: url(https://s1.c.meishij.net/n/images/white80.png) repeat;
                left: 0px;
                bottom: 0px;

                h2 {
                  height: 36px;
                  line-height: 36px;
                  padding-top: 12px;
                  text-indent: 20px;

                  a {
                    color: #333;
                    font-size: 24px;
                    font-family: Microsoft Yahei;
                    font-weight: 400;
                  }
                }

                strong {
                  line-height: 18px;
                  color: #666;
                  padding-left: 20px;
                  font-family: Microsoft Yahei;
                  font-weight: 400;
                }

                span{
                  display: inline-block;
                  vertical-align: top;
                  *display: inline;
                  *zoom: 1;
                  height: 30px;
                  line-height: 30px;
                  padding: 0px 14px;
                  color: #fff;
                  background: #60a531;
                  top: -6px;
                  right: 10px;
                  position: absolute;

                  a{
                    color: #fff;
                    font-family: Microsoft Yahei;
                  }

                  em{
                    position: absolute;
                    height: 6px;
                    top: 0px;
                    right: -6px;
                    display: block;
                    height: 6px;
                    width: 6px;
                    overflow: hidden;
                    background: url(https://s1.c.meishij.net/n/images/gxarrow1.png) 0px 0px no-repeat;
                  }
                }
              }
            }
          }
        }
      }
      .jt {
        top: 62%;
      }
    }
  }
  //三月
  .sanyue{
    h3{
      height: 120px;
      line-height: 120px;
      font-size: 24px;
      color: #222;
      text-align: center;
      font-family: Microsoft Yahei;
      position: relative;
      display: block;
      font-weight: 400;
      width: 990px;

      span{
        line-height: 48px;
        position: absolute;
        right: 0px;
        top: 36px;
        display: block;
        height: 48px;
        font-size: 12px;
        font-family: 宋体;
        color: #666;
        font-weight: 100;

        a{
          display: inline-block;
        }
      }
    }

    .index_sc_w{
      width:990px;
      background:#fff;
      position:relative;
      height:193px;
    
      dl{
        padding:0px 20px;
        border-bottom:0px solid #eee;
      
        dt{
          display:inline-block;
          vertical-align:top;
          *zoom:1;
          height:50px;
          line-height:50px;
          padding-right:15px;
          color:#333;
          // float:left;
          font-size:14px;
          a{color:#333;}
        }

        .index_sc_dd{
          // float:left;
          display:inline-block;
          vertical-align:top;
          *display:inline;
          *zoom:1;
          height:60px;
          line-height:60px;
          color:#333;
          font-size:14px;

          a.link{
            color:#666;
            // float:left;
            display:inline-block;
            vertical-align:top;
            *display:inline;
            *zoom:1;
            height:60px;
            line-height:60px;
            padding:0px 15px;
          }

          .index_sc_con {
            display:none;
          }
        }

        .index_sc_dd_current{
          background:#ff3232;
          height:30px;
          margin-top:15px;

          a.link{
            color:#fff;
            height:30px;
            line-height:30px;
          }

          .index_sc_con{
            display:block;
            height:117px;
            width:970px;
            background:#fff;
            position:absolute;
            left:0px;
            top:60px;
            padding:0px 0px 15px 17px;

            div.c{
              height:117px;
              a{
                display:block;
                height:117px;
                width:117px;
                float:left;
                margin-right:2px;
                position:relative;
                overflow:hidden;

                img{
                  display:block;
                  height:117px;
                  width:117px;
                }

                span.name{
                  width:117px;
                  height:28px;
                  line-height:28px;
                  background:url(https://s1.c.meishij.net/n/images/white70.png) repeat;
                  position:absolute;
                  left:0px;
                  top:89px;
                  color:#333;
                  display:inline-block;
                  vertical-align:top;
                  *display:inline;
                  *zoom:1;
                }
              }
              
              span.name strong{
                display:inline-block;
                vertical-align:top;
                *display:inline;
                *zoom:1;
                color:#333;
              }

              a:hover span.name strong{
                text-decoration:underline;
                color:#ff3232;
              }

              em.yi{
                background:#60a531;
                height:10px;
                width:10px;
                overflow:hidden;
                margin:9px;
                display:inline-block;
                vertical-align:top;
                *display:inline;
                *zoom:1;
              }

              em.yb{
                background:#f60;
                height:10px;
                width:10px;
                overflow:hidden;
                margin:9px;
                display:inline-block;
                vertical-align:top;
                *display:inline;
                *zoom:1;
              }

              em.ji{
                background:#c90000;
                height:10px;
                width:10px;
                overflow:hidden;
                margin:9px;
                display:inline-block;
                vertical-align:top;
                *display:inline;
                *zoom:1;
              }

              em.notz{
                background:#999;
                height:10px;
                width:10px;
                overflow:hidden;
                margin:9px;
                display:inline-block;
                vertical-align:top;
                *display:inline;
                *zoom:1;
              }
            }
          }
        }
      }
    }
  }
  
  //每小时最热菜谱
  .index_pxi{
    .bbtitles{
      height:120px;
      line-height:120px;
      font-size:24px;
      color:#222;
      text-align:center;
      font-family:Microsoft Yahei;
      position:relative;
      display:block;
      font-weight: 400;
      width: 990px;
    }

    .listtyle2_w {
      width: 988px;

      .listtyle1_list {
        overflow: hidden;

        .listtyle1 {
          margin-left: 20px;
          background: #fff;
          height: 332px;
          width: 232px;
          position: relative;
          float: left;
          margin-bottom: 20px;
  
          a.big {
            display: block;
            height: 332px;
            width: 232px;
  
           .img {
              height: 232px;
              width: 232px;
              display: block;
            }
  
            .i_w {
              height: 100px;
              width: 232px;
              overflow: hidden;
    
              .i {
                height: 200px;
                width: 232px;
                transition:all .3s linear;
  
                .c1 {
                  height: 100px;
                  width: 232px;
                  overflow: hidden;
  
                  strong {
                    display: block;
                    height: 38px;
                    line-height: 24px;
                    padding: 11px 14px 0px;
                    font-size: 14px;
                    color: #333;
                    font-weight: bold;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                  }
  
                  span {
                    display: block;
                    height: 26px;
                    line-height: 26px;
                    padding: 0px 14px 0px;
                    font-size: 12px;
                    color: #999;
                  }
  
                  em {
                    display: block;
                    height: 23px;
                    line-height: 23px;
                    padding: 0px 14px 0px;
                    font-size: 12px;
                    color: #ff3232;
                  }
                }
  
                .c2{
                  height: 100px;
                  width: 232px;
                  overflow: hidden;
                  background: #eee;
  
                  ul {
                    padding: 20px 0px 15px 14px;
  
                    li {
                      float: left;
                      height: 32px;
                      width: 208px;
                      background: url(https://s1.c.meishij.net/n/images/list_style1_icons.png) no-repeat;
                      text-indent: 32px;
                      line-height: 32px;
                      color: #666;
                      font-size: 14px;
                    }
  
                    .li1 {
                      background-position: -9px -126px;
                    }
                    .li2 {
                      background-position: -9px -44px;
                    }
                  }
  
                }
              }
            }
  
            .gx {
              display: inline-block;
              vertical-align: top;
              height: 38px;
              position: absolute;
              right: -6px;
              top: 12px;
              background: url(https://s1.c.meishij.net/n/images/gxarrow.png) right 32px no-repeat;
  
              span {
                display: inline-block;
                vertical-align: top;
                height: 32px;
                padding: 0px 12px;
                background: #60a531;
                line-height: 32px;
                color: #fff;
                box-shadow: 0px 1px 1px rgba(0,0,0,0.5);
                font-size: 14px;
                font-family: Microsoft Yahei;
                font-weight: 100;
              }
            }
          }
  
          a.big:hover .i_w .i{
            transition:all .3s linear;
            transform: translateY(-100px);
          }
        }
  
        .ml0 {
          margin-left: 0px;
        }
  
        .index_cplist_more {
          background: #fff;
          height: 332px;
        }
  
        h3 {
          height: 50px;
          line-height: 50px;
          color: #333;
          font-size: 14px;
          text-indent: 14px;
          border-bottom: 1px solid #ddd;
          background: #fff;
          width: 990px;
        }
  
        ul {
          padding: 14px;
    
          li {
            display: inline-block;
            vertical-align: top;
            *display: inline;
            *zoom: 1;
            height: 30px;
            font-size: 14px;
            margin-right: 10px;
            margin-bottom: 10px;
    
            a {
              color: #666;
              display: inline-block;
              vertical-align: top;
              *display: inline;
              *zoom: 1;
              padding: 0px 10px;
              background: #fcfcfc;
              border: 1px solid #ddd;
              height: 28px;
              line-height: 28px;
            }
  
            a:hover{
              background: #ff3232;
              color: #fff;
            }
          }
        }
      }
    }
  }
  
  //健康新闻
  .bbtitles {
    height: 120px;
    line-height: 120px;
    font-size: 24px;
    color: #222;
    text-align: center;
    font-family: Microsoft Yahei;
    position: relative;
    display: block;
    font-weight: 400;
    width: 990px;

    .paixu {
      line-height: 48px;
      position: absolute;
      right: 0px;
      top: 36px;
      display: block;
      height: 48px;
      font-size: 12px;
      font-family: 宋体;
      color: #666;
      font-weight: 100;
      
      a{
        display: block;
        height: 100%;
      }
    }
  }
  
  
  .index_health{
    width: 990px;
    height: 350px;
    margin-bottom: 20px;
    
    .left{
      width: 990;
      float: left;

      .mb20 {
        margin-bottom: 20px;
      }

      .div1 {
        background: #fff;
        position: relative;
        float: left;
        width: 485px;
        margin-right: 20px;

        h2 {
          display: inline-block;
          vertical-align: top;
          height: 30px;
          line-height: 30px;
          padding: 0px 14px;
          color: #fff;
          background: #60a531;
          top: -6px;
          right: 10px;
          position: absolute;
          z-index: 1;

          a {
            color: #fff;
            font-family: Microsoft Yahei;
            font-weight: 100;
            font-size: 14px;
          }

          .arrow {
            position: absolute;
            height: 6px;
            top: 0px;
            right: -6px;
            display: block;
            height: 6px;
            width: 6px;
            overflow: hidden;
            background: url(https://s1.c.meishij.net/n/images/gxarrow1.png) 0px 0px no-repeat;
          }
        }

        .index_healthitem{
          padding-left: 160px;
          position: relative;

          li{
            height: 49px;
            border-bottom: 1px solid #eee;

            a.img {
              height: 160px;
              width: 160px;
              left: 0px;
              top: 0px;
              display: block;
              position: absolute;
              img {
                display: block;
                height: 160px;
                width: 160px;
              }
            }

            h3{
              height: 49px;
              line-height: 49px;
              font-size: 14px;
              color: #333;
              padding-left: 14px;
              a{
                color: #666;
                font-size: 12px;
                font-weight: 100;
              }
            }
          }

          .current{
            height: 59px;
          }
        }
      }

      .mr0 {
        margin-right: 0px;
      }
      .mb0 {
        margin-bottom: 0px;
      }
    }
  }
}
.active{
  background: #ff3232;
}

.footer{
  .f-t{
    overflow: hidden;

    .f-t-l{
      float: left;
      width: 470px;
      height: 196px;
      background: url(https://s1.st.meishij.net/p2/20190130/20190130152457_976.png) left center no-repeat;
      background-size: 90% auto;
    }

    .f-t-r{
      float: right;
      overflow: hidden;
      margin-top: 30px;

      ul{

        li{
          background:url(https://s1.c.meishij.net/n/images/footerlinks.png) no-repeat;
          width:105px;
          margin-left:20px;
          height:160px;
          position:relative;
          display:inline-block;
          vertical-align:top;
          *zoom:1;

          .img{
            display:block;
            height:105px;
            width:105px;

            span{
              height:26px;
              line-height:26px;
              display:block;
              width:105px;
              color:#fff;
              text-align:center;
              padding-top:79px;
            }
          }

          p{
            position:absolute;
            z-index:50;
            left:0px;
            width:105px;
            color:#999;
            line-height:18px;
            padding:9px 0px;
            text-align:center;

            a{
              color:#999;
              font-size: 12px;
            }
            a:hover{
              color:#fff;text-decoration:underline;
            }
          }
        }

        .sina{
          background-position:0px 0px;
        }
        .tengxun{
          background-position:-105px 0px;
        }
        .weixin{
          background-position:-315px 0px;
        }
        .download{
          background-position:-210px 0px;
        }
      }

    }
  }

  .f-c{
    overflow: hidden;

    .friend_link{
      padding:10px 0px;
      overflow: hidden;
    
      dt{
        font-size:14px
        ;color:#fff;
        display:block;
        height:40px;
        border-bottom:1px solid #444;
        line-height:40px;
        float:left;
        display:block;
        width:990px;
        margin-bottom:8px;
      }

      dd{
        float:left;
        height:25px;
        line-height:25px;
        color:#fff;
        width:99px;

        a{
          color:#999;
          font-size: 12px;
        }
        a:hover{
          color:#ff3232;
          text-decoration:underline;
        }
      }
    }
  }

  .f-b{
    overflow: hidden;

    .footer_con3{
      width:990px;
      margin:0px auto;
      border-top:1px solid #444;
      text-align:center;
      padding:10px 0px 30px 0px;

      p{
        height:24px;
        line-height:24px;
        color:#666;
        font-size: 12px;

        a{
          font-size: 12px;
          color: #666;
        }
      }

      ul{
        display:inline-block;
        vertical-align:top;
        *display:inline;
        *zoom:1;

        li{
          display:inline-block;
          vertical-align:top;
          *display:inline;
          *zoom:1;
        
          a{
            display:inline-block;
            vertical-align:top;
            *display:inline;
            *zoom:1;
            color:#999;
            padding:0px 10px;
            line-height:24px;
            height:24px;
            font-size: 12px;
          }
          a:hover{
            color:#fff;
            background:#ff3232;
          }
        }
      }
    }
  }
}